<div class="col-xs-3">
    <h3>ジャンルから探す</h3>
    <table class="genres">
        <ul style="list-style: none;">
        <li><%= link_to "ケーキ", ""%></li>
        <li><%= link_to "焼き菓子", "" %></li>
        <li><%= link_to "プリン", "" %></li>
        <li><%= link_to "キャンディ", "" %></li>
        </ul>
    </table>
</div>