<div class="container">
<!-- my = 上下のマージン
 5 = 5rem = 80px rem（root em）は相対的なサイズを表す単位。remはルート要素(今回は多分16px?)を基準に相対的なサイズを定める。-->

  <div class="row">
    <div class="">
      <h2>ジャンル追加・一覧</h2>
    </div>

    <div class="">
      <!-- ofsetは左右の余白 -->
      <table class="table table-dark">
        <thead>
          <tr>
            <th>ジャンル</th>
            <th>ステータス</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>

        </tbody>
      </table>
      </div>
    </div>
</div>
