<div class="row">
  <div class="col-xs-12">
    <h2><strong>本当に退会しますか？</strong></h2>
    <div class="messages">
        <h3>退会すると、会員登録情報や<br>
        これまでの購入履歴が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
        </h3>
    </div>

    <%= link_to "　退会しない", customers_show_path, class: "glyphicon glyphicon-home btn btn-primary" %>
    <%= link_to "　退会する　", customers_customers_withdraw_path, method: :PATCH, data: {confirm: "本当に退会してもよろしいですか？"}, class: "glyphicon glyphicon-tint btn btn-danger" %>
  </div>
</div>