// Place all the styles related to the customers/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table td {
    padding : 20px 10px;
}

table {
    width: 80%;
}
  
th {
    width: 30%;
}
  
td {
    width: 70%;
}

