// Place all the styles related to the customers/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.product-card-content {
	color: black;
}

.item-content1 {
	text-align: center;
	padding-top: 12px;
}

.item-content2 {
	padding-left: 100px;
	padding-top: 12px;
}
