<br><br>
<!-- 改行する方法がこれで良いのか -->
  <div class="col-md-12 col-xl-12">
      <h2>商品詳細</h2><br>
  </div>

    <div class="row">

      <div class="col-md-5 col-xl-5">
        
      </div>

      <div class="col-md-7 col-xl-7">
        <div class="items-group">

        </div>

        <div class="items-group">

        </div>

        <div class="items-group">

        </div>

        <div class="items-group">

        </div>
        <div class="items-group">

        </div>

        <div class="col-md-offset-2 col-xl-offset-2 text-right">

        </div>
      </div>
    </div>
