<div class="row">
    <div class="col-xs-6">
     <img src="assets/shef.jpg">
    </div>
    <div class="col-xs-6">
    <div>
        ポワチエ出身。15歳で、ホテル「ルレ・ド・ポワチエ」の見習いシェフとしてキャリアをスタートさせた。その後セーヌ川の船上シェフを務めた。28歳で「コンコルド・ラファエットホテル」の総料理長に就任、1976年にフランスの国家最優秀職人章(Meilleur Ouvrier de France, 略称MOF)の資格を取得。同年来日し、レストラン「ラ・ベル・エポック」で働く。1981年には独立してレストラン「ジャマン」を開店、後に店名を「ジョエル・ロブション」へと改め、現在に至る。ロブションは、レストランガイド「ゴー・ミヨ」に「世紀のシェフ」として紹介された事でも知られている。1990年代以降はフランス国外とりわけ日本での活動が豊富で、日本のフレンチ業界に与えた影響も大きく、日本のメディアでは「フレンチの神様」｢フレンチの皇帝｣と称されることも多い。

        1996年に現役を退くも、その味を愛してやまない人達からの熱烈な声に後押しされる形で2003年に料理人として現役復帰する。

        2020年現在世界10カ国に店舗を持ち、ミシュランガイドにて総数33個の星を獲得しており、「世界一星を持つシェフ」としても知られている。 日本国内では東京に9つの店舗を持ち、そのうちの「ガストロノミー ジョエル・ロブション（恵比寿ガーデンプレイス）」が三つ星、「ラ ターブル ドゥ ジョエル・ロブション（恵比寿ガーデンプレイス）」が二つ星、「ラトリエ ドゥ ジョエル・ロブション（六本木ヒルズ）」が二つ星を獲得している。

        日本国内でのロブション・グループの経営母体は、ピザーラの親会社としても知られる株式会社フォーシーズが受け持っている。 世界的には、東京、香港、マカオ、シンガポールとミシュラン３つ星レストラン４軒の総料理長で、アラン・デュカスの３軒を超え世界最多３つ星シェフであったが、シンガポール店の閉店により、アラン・デュカスと並ぶ３軒の世界最多タイの３つ星シェフとなっていた。

        ドルドーニュ県でレストランを夫婦で経営する娘・ソフィーと、福岡在住の日本女性との息子・ルイ(龍依)・ロブション・安部がいる。ルイは日仏産品の輸出入会社を経営している。
    </div>
    </div>
    <h3><%= link_to "もっと見る", items_path, class: "pull-right", style: "font-family: HiraMinPro-W6; color: #000000; margin: 30px 0;" %></h3>
</div>