<div class="row">
    <!-- ジャンルのサイドバーを表示 -->
    <%= render "admins/genres/sidebar" %>

    <div class="col-xs-9">
        <h5>ようこそ、NaganoCakeへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
        </h5>

        <h3 class="recommended-items">オススメ商品</h3>

        <!-- 商品を4つ表示するようにする -->

        <%= link_to "もっと見る", "" %>
    </div>
</div>
