
<div class="row">
  	<div class="col-xs-2">
    <!-- ジャンルのサイドバーを表示 -->
    <%= render "customers/items/sidebar", genres: @genres %>
    </div>

    <div class="col-xs-9 col-xs-offset-1">
        <h5>ようこそ、NaganoCakeへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
        </h5>

        <h3 class="recommended-items">オススメ商品</h3>

        <!-- 商品を4つ表示するようにする -->

        <%= link_to "もっと見る", "" %>
    </div>
</div>
