<div class="row">
    <div class="col-xs-11">
        <table>
         <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込み）</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
         </thead>
         <tbody>
           <% @cart_items.each do |cart_item| %>
           <% end %>
         </tbody>
        </table>
    </div>
</div>