<br><br>
<!-- 改行する方法がこれで良いのか -->
  <div class="col-md-6">
      <h2>注文一覧</h2><br>
  </div>

    <div class="row">
      <!-- ofsetは左右の余白 -->
      <table class="table">
        <thead>
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at %></td>
              <td><%= order.name %></td>
              <td></td>
              <td></td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
