<br><br>
<!-- 改行する方法がこれで良いのか -->
  <div class="col-md-6">
      <h2>注文明細</h2><br>
  </div>

  <table>
    <tbody>
      <tr>
        <td> <%= link_to admins_customer_path(@order.customer) do %>
        <%= @order.customer.last_name %>
        <%= @order.customer.first_name %>
        <% end %>
        </td>

      </tr>
    </tbody>
  </table>
