<%#

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-9 col-xs-3">
        <p>© All rights reserved by 三色同順ズ</p>
    </div>
  </div>
</footer>


%>

<footer>
        <div class="container">
          <div class="small text-center text-muted" style="margin: 50px 0;">Copyright © 2020  Three Color Runs
          </div>
        </div>
</footer>