<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-9 col-xs-3">
        <ul class="footer-menu">
        <li>
          <%= link_to "about", "" %>
        </li>
        </ul>
        <p>© All rights reserved by 三色同順ズ</p>
    </div>
  </div>
</footer>